@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";/*!
 * Caudales app style
 * Copyright 2017 Corporacion Autonoma Regional CAR
 */


.login-caudales {
	-webkit-box-shadow: 0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow: 0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow: 0 0px 16px #777, 0 0 20px #CCC inset;
    
}


.login-background {       
    background-image: url('../images/bg_login.png'); 
    background-repeat: no-repeat;        
    position: relative;        
    width: 85%;            
    height: 610px;       
    margin-left: auto;      
    margin-right: auto;       
} 

.login-container {

padding-top: 10%;

}


   .login-emblema {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}
